Makefile
Makefile.old
*.tar.gz
*.bak
pm_to_blib
blib/
WWW-Mechanize-RemoteBrowser-*
WWW-Mechanize-RemoteBrowser-*/
.releaserc
cover_db
firefox-versions/
chrome-versions/
MYMETA.*
frame-*.png
*.pl
remote-browser-*.tar
dist/